$fontPrimaryRegular: 'Roboto';
$fontSecondaryRegular: 'DIN Pro';
$fontPrimaryDecorative: 'Gilroy';

$colorPrimary: #F47821;
$colorSecondary: #4E4D53;

$screenSmall: 600;
$screenLarge: 972;
$screenExtra: 1200;

$duration: .3s;
$radius: 3px;
$opacity: .8;