mixin advantage
  section.advantage
    ._wrapper
      h2._title.wow.zoomIn Приемущества работы с нами
      ._container
        ._block.wow.slideInLeft
          span._icon
            +symbol('folder')
          h3._blk-title Делимся оптом и навыками
          p._text Мы обучаем коллег всему, что знаем сами. Наш опыт уникален и проверен временем, а команда постоянно совершенствует свои знания и навыки.
        ._block.wow.slideInUp
          span._icon
            +symbol('folder')
          h3._blk-title Стабильная зарплата
          p._text Вы без задержек получаете официальную зарплату. Также мы оплачиваем больничные и даем возможность брать оплачиваемый отпуск до 4 недель в год.
        ._block.wow.slideInRight
          span._icon
            +symbol('folder')
          h3._blk-title Гибкий график
          p._text Мы умеем работать с теми, кто еще не закончил получать образование. Вы можете работать неполный рабочий день, брать отгулы на время сессии и диплома.