mixin enquire
  section.enquire
    ._container
      ._block.wow.rotateInDownLeft
        h3._title Прокачиваем мир
        p._text Вы хотите сделать мир лучше и не готовы ждать всю жизнь, чтобы начать это делать?
      ._block.wow.slideInRight
        h3._title Мотивируем себя
        p._text У вас есть собственная цель и вы не боитесь много работать, чтобы её достичь?
      ._block.wow.slideInLeft
        h3._title Используем лучшее
        p._text Вы способны применять разные подходы для достижения своих целей?
      ._block.wow.rotateInDownRight
        h3._title Относимся с пониманием
        p._text Вы не обвиняете других в своих неудачах и способны воспринимать критику?