mixin header
  header.header
    ._wrapper
      h1._title Ты готов стать 
        span._entire профес
          span._dash -
        <br>сионалом?
      p._subtitle Мы ищем 
        strong талантов
        |  и 
        strong саппортов
        |  в команду. Решите на какую категорию вы претендуете.
      button._button
        span._icon
        span._btn-text Заполнить анкету
      ._profile
        ._block
          p._label Языки программирования
          input._input(type="text" name="languages" form="about")
        ._block
          p._label Препроцессоры CSS
          input._input(type="text" name="preprocessors" form="about")
        ._block
          p._label Сборщики проектов
          input._input(type="text" name="bundlers" form="about")